* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  line-height: 1.4;
  word-break: break-word;
  font-family: KalamehWebFaNum;
  margin: 0 auto;
  direction: rtl;
  background: var(--gray-50);
}
.container {
  max-width: 1360px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: var(--black-500);
}
p,
span,
ol,
ul,
h1,
h2,
h3,
h4 {
  cursor: default;
}
.container {
  max-width: 1360px;
  margin: 0 auto;
}
